@font-face {
  font-family: 'Hand';
  src: url('../fnt/Lazy-Monday.otf') format('woff2');
}

@font-face {
  font-family: 'LCD';
  src: url('../fnt/LCD.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2em;

  max-width: 800px;
  margin: 2em auto;

  background-color: #000;
  font-family: sans-serif;

  user-select: none;
}

.machine {
  padding: 10px;
  border: 3px solid #6666;
}

.display {
  padding: 10px 10px 0 10px;

  background-color: #444;

  font-family: 'LCD', system-ui;
  font-size: 4.5em;
  color: #ccc;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  font-size: 2em;
  font-weight: bolder;
  color: #ccc;
}

.button {
  padding: 10px;
  border: 3px solid #6666;
  cursor: pointer;
}

.button[pressed] {
  border-color: #fff;
}

.note {
  width: 100%;
  padding: 30px;
  background-color: #ccc;

  font-family: 'Hand', cursive;
  font-size: 2em;
}

.note:focus-visible {
  outline: none;
}

.guide {
  display: flex;
  justify-content: space-around;
}
